<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body class="w-full h-screen flex items-center justify-center">
    <input type="checkbox" name="box" id="box">
    <button>click</button>
    <script>
        const button = document.querySelector('button');
        const check = document.getElementById('box');

        button.addEventListener('click', () => {
            check.checked = !check.checked;
        })
    </script>
</body>
</html>