<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script src="./main.js" type="module"></script>
    <title>index</title>
</head>
<body class="w-full h-screen flex items-center justify-center">
    <section>
        <div id="container">
            <fieldset class="p-10 rounded">
                <form action="post">
                    <label for="nif" class="my-5">Nif</label><br><input type="text" name="nif" id="nif" class="my-3 h-10 rounded-sm border-none outline-none px-5"><br><br>
                    <label for="datedebutexe" class="my-5">Date de debut d'exercice</label><br><input type="date" name="datedebutexe" id="datedebutexe" formtarget="dd/mm/yyyy" class="my-3 h-10 rounded-sm border-none outline-none px-5"><br><br>
                    <label for="dateclotexe" class="my-5">Date de cloture d'exercice</label><br><input type="date" name="dateclotexe" id="dateclotexe" class="my-3 h-10 rounded-sm border-none outline-none px-5"><br><br>
                </form>
            </fieldset>
        </div>
    </section>
</body>
</html>