*{
    padding: 0;
    margin: 0;
}
html{
    background: black;
    color: white;
}
.w-full{
    width: 100%;
}

.h-screen{
    height: 100vh;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-10{
    font-size: large;
}

.my-5{
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-3{
    margin-top: 5px;
    margin-bottom: 5px;
}

.p-10{
    padding: 30px 30px 30px 30px;
}

.rounded{
    border-radius: 10px;
}

.w-full{
    width: 100%;
}

.h-10{
    height: 30px;
}

.cursor-pointer{
    cursor: pointer;
}

.h-5{
    height: 25px;
}

.rounded-sm{
    border-radius: 5px;
}

.border-none{
    border: none;
}

.outline-none{
    outline: none;
}

.px-5{
    padding-left: 15px;
    padding-right: 15px;
}

#recherche{
    background: white;
}

#recherche:hover{
    background: lightseagreen;
}

fieldset{
    border-color: lightseagreen;
}